@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

section {
  scroll-margin-top: 80px;
}

.funderline {
  border-bottom: 0.2rem solid #1d4ed8;
  border-radius: 1.5px;
}

.funderline:hover {
  background-color: rgba(29, 78, 216, 0.4);
  border-top: 0.2rem rgba(29, 78, 216, 0.4);
  border-radius: 1.5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
